@import '../../../../theme/variables.scss';

.menu-formatt {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 18px;
  height: 18px;
  background: $primary-light;
  border-radius: 3px;
  border: 1px solid $icon-gray;
  cursor: pointer;
  transition: all 0.15s;

  &:hover {
    background: $icon-gray;
    color: $font-secondary-color;
    
    .line {
      background: $font-secondary-color;
    }
  }

  .line {
    width: 8px;
    height: 1px;
    margin-bottom: 2px;
    background: $icon-gray;

    &:nth-last-child(1) {
      margin-bottom: 0;
    }
  }
}
