$primary-blue: #3074f3;
$primary-blue-opasity: #e2ebfd;
$primary-blue-hover:#3262e0;
$primary-blue-shadow: #e2ebfd;
$primary-light: #ffffff;
$secondary-light: #f4f6f8;
$primary-danger: #fae6ef;

$shadow-block: rgba(0, 0, 0, 0.14);

$font-primary-color: #263238;
$font-secondary-color: #78909c;
$font-contast-color: #cfd8dc;
$font-danger-color: #f33074;
$font-danger-hover: #d41f5e;

$icon-gray: #eceff1;
$icon-gray-hover: #b0bec5;

$border-color: #eceff1;

$button-shadow: rgba(48, 116, 243, 0.2);
$modal-shadow: rgba(38, 50, 56, 0.2);

